<div class="main-container">
    <h2>Clock+</h2>
    <div class="subtitle">Clock+ built by Tanzim Shahriar - s3642965@student.rmit.edu.au - DI - Group 4 Alex</div>
    <div class="clock-row">
        <div class="time-type-container">
            <div><span class="glyphicon glyphicon-stop text-success" aria-hidden="true"></span>Business time</div>
            <div><span class="glyphicon glyphicon-stop text-warning" aria-hidden="true"></span>Business overtime</div>
            <div><span class="glyphicon glyphicon-stop text-danger" aria-hidden="true"></span>Personal time</div>
            <div><span class="glyphicon glyphicon-plane text-default" aria-hidden="true"></span>Sleeping time</div>
        </div>
        <div class="clock-container">
            <div class="scroll"></div>
            <div class="divider"></div>
            <%if @time_format_twenty_four %>
                <%= render 'showcase/twentyfour_format' %>
            <%else%>
                <%= render 'showcase/twelve_format' %>
            <%end%>
            <div class="add-btn"></div>
        </div>
        <div class="options-container">
            <div class="color">
                <h5>Color theme</h5>
                <div class="theme-button-container">
                    <%= button_to "Black", {:controller => "showcase", :action => "change_theme" } , :params => {:theme => "black"}, :method=>:post %>
                    <%= button_to 'Graphite', {:controller => "showcase", :action => "change_theme" } , :params => {:theme => "graphite"}, :method=>:post %>
                    <%= button_to 'White', {:controller => "showcase", :action => "change_theme" } , :params => {:theme => "white"}, :method=>:post %>
                </div>
                <div>
                    <%= form_for :anything, url: toggle_time_format_path do |form| %>
                        <%= form.check_box :visible,:id => "checkbox", :onclick => "this.form.submit()", checked: @time_format_twenty_four %>24 hour clock
                    <% end  %>
                </div>
            </div>
        </div>
    </div>
</div>