<footer class="footer">
    <div class="footer-row">
        <div class="student-info">
            <div>Clock+</div>
            <div>Email: s3642965@student.rmit.edu.au</div>
            <div>Attempt grade level: DI</div>
        </div>
        <div class="links">
            <div class="link">Share Social</div>
            <div class="link"><%= link_to "http://www.facebook.com/tanzim012" do %>
                <%= image_tag 'facebook.png', width: "30", height: "30"%>
            <% end %>
            </div>
            <div class="link"><%= link_to "https://twitter.com/botmon36" do %>
                <%= image_tag 'twitter.png', width: "30", height: "30"%>
            <% end %>
            </div>
            <div class="link"><%= link_to "https://www.linkedin.com/in/tshahriar/" do %>
                <%= image_tag 'linkedin.png', width: "30", height: "30" %>
            <% end %>
            </div>
        </div>
    </div>
</footer>